* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.side{
	list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    width: 100%;

}

	

.side li{
	float: left;
	padding-left: 0px;
	list-style-type: none;
	font-size: 23px;
	margin-top: 0px;


}
.side a {
    display: block;
    color:white;
    text-align: center;
    padding: 28px 20px;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    word-spacing: 


}
.side a:hover {color:#6A0888; 
 }
body{background: url(https://images.unsplash.com/photo-1493689485253-f07fcbfc731b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ebe5bb8654d3816c9d934ff455abffb2&auto=format&fit=crop&w=1333&q=80);
	background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 100%;

}
.mk h1{
	font-family: 'Amatic SC', cursive; color:purple; text-align:center; font-size: 70px
}
.aboutus h1 {
	font-family: 'Amatic SC', cursive; color:purple; text-align:center; font-size: 70px
}
.htuapp h1 {
	font-family: 'Amatic SC', cursive; color:purple; text-align:center; font-size: 70px

}
.mk{
font-size: 25px;
margin-top:500px;

}
.alltext{
	background-color:white;
}

#nav{
	float: right;
	margin-top: 50px;
}

.image{
    width:35%;
    margin:1.66%;
    height:450px;
    filter:grayscale(100%);
    transition: all 0.6s ease-in-out;

}

.image:hover{
    filter: grayscale(0%);
    transform:translateY(-20px);
}
.images-div{
    font-size: 0; 
}

.container {
    display: inline;
    position: relative;
    width: 50%;

}
.footer {
    height: 70px;
    background: #512da8;
    color: black;
    line-height: 50px;
    padding: 0 20px;
    font-size: 20px
}
.align-text {
	margin-left: 20px;
}
